p {
    color: white;
}

#page-container {
    height: calc(100% - 70px);
}

#content-wrapper {
    height: calc(100% - 90px);
}

.form-container {
    height: 100%;
    text-align: center;
}

.form-container input {
    font-weight:bold;
    padding: 12px;
    border-radius: 2em;
    background-color:  #FF9000;
    color: black;
}

.form-container input:hover {
    background-color: #FF9000;
    padding: 15px;
    box-shadow: 4px 4px 6px black;
}

.form-container label {
    font-size: large;
    width: auto;
    margin-top: 10px;
}

.form-container textarea {
    width: 80%;
    font-size: 18px;
    margin-top: 10px;
    border: 2px solid #FF9000;
    border-radius: 10px;
    padding: 5px;
    resize: none;
    outline: none;
}

#title {
    height: 20%;
}

#content {
    height: 60%;
}

form {
    height: 100%;
}

#add-button {
    margin: 15px auto;
}