.blockcgu {
    /*border-width:5px;
        border-style: double;
        border-color:red;*/
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding-left: 2em;
    color:white;
    overflow: auto;
    /*text-indent: 1em;*/
    text-align: justify;
}

.cgu{

    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: left;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}