/*.scroller {
  width: 99%;
  height: 80%;
  overflow-y: scroll;
  scrollbar-color: black;
  scrollbar-width: thin;
}

h2{
    text-align: center;
}

p{
    text-align: justify;
}

/* CSS commun */

*{
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
    color: white;
}

#menu1,#menu2{
    font-size: 19px;
}

body{
    background: #212121;
    height: 100%;
}

/* CSS page 1 */
header{
    background-color: black;
    border-bottom: solid 1.5px;
    border-color: #FF9000;
}




.blockcgu {
    /*border-width:5px;
        border-style: double;
        border-color:red;*/
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding-left: 2em;
    color:white;
    overflow: auto;
    /*text-indent: 1em;*/
    text-align: justify;
}

.cgu{

    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: left;
    color: white;
}

.cguscroll{
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 300px);
    /*border-width:5px;
    border-style: double;
    border-color:red;*/
}

html, body { height: 100%; width: 100%; margin: 0; }