#message-container p {
    color : white;
}

#message-container {
    height: 75vh;
    width: 95%;
    padding-top: 10px;
    overflow: auto;
    margin-left: auto;
}

.typing-container {
    width: 100%;
    text-align: center;
    display: table;
    position: absolute;
    bottom: 10%;
}

.typing-container textarea {
    display: table-cell;
    vertical-align: middle;
    width: 70%;
    height: 100%;
    outline: none;
    resize: none;
    border: 2px solid #FF9000;
    border-radius: 10px;
    font-size: 16px;
    padding: 5px;
}

.typing-container input {
    font-weight:bold;
    padding: 12px;
    border-radius: 2em;
}

.typing-container input:hover {
    background-color: #FF9000;
    padding: 15px;
    box-shadow: 4px 4px 6px black;
}

#messagep {
    margin-left: 30px;
    font-size: 22px;
}

strong {
    font-size: 20px;
}

i {
    font-size: 12px;
}