.select-style {
    padding: 0;
    width: 18%;
    border-radius: 5px;
    overflow: hidden;
    background-color: #FF9000;
    position: relative;
    margin-left: 14%;
    margin-top: 4%;
}

.select-style select {
    padding: 2vh 3vh;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align: center;
    font-size: 100%;
}
.select-style option{
    background-color: #ddd;
    outline-color: #ddd;
}
.select-style select:focus {
    outline: none;
}
#title{
    text-align: right;
    margin-top: 3vh;
    font-size: 25px;
    width: 20%;
    margin-left: 10%;
    height: 7%;
}
#contact{
    margin-bottom: 2vh;
    width: 100%;
    height: 70vh;
    padding-bottom: 5vh;
    padding-top: 2vh;
}
textarea{
    border-radius: 5px;
    border: 2px solid #FF9900;
    height: 30%;
    width: 70%;
    resize: none;
    padding-left: 2vh;
    padding-right: 2vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#contactsubmit{
    margin-top: 4vh;
    border-radius: 13px;
    background-color: #FF9000;
    height: 26px;
    border: none;
    text-decoration: none;
    text-align: center;
    float: left;
    margin-bottom: 2vh;
    margin-left: 40%;
}
#contactsubmit:hover{
    background-color: green;
    transition: background-color 0.5s;
}




