.scroller {
    padding: 1% 5% 5% 5%;
    height: 620px;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
    text-align: justify;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}

/* CSS commun */

*{
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
    color: white;
}
#menu1,#menu2{
    font-size: 19px;
}
body{
    background: #212121;
    height: 100%;
}

/*CSS POPUP */
/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 3px solid red;
}

/* The actual popup */
.popup .textPopUp {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    height: 50px;
    width: 500px;
    padding: 8px 8px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .textPopUp::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

/* CSS page 1 */
header{
    background-color: black;
    border-bottom: solid 1.5px;
    border-color: #FF9000;
}

#menu1 nav ul{
    list-style: none;
}

#menu1 nav li{
    float: right;
    width: 25%;
    text-align: center;
}

#menu1 nav ul::after{
    content: "";
    display: table;
    clear: both;
}

#menu1 nav{
    background-color: black;
    width: 100%;
    margin: 0;
    position: sticky;
    top: 0px;

}

#menu1 nav a{
    display: block;
    text-decoration: none;
    color: white;
    vertical-align: center;

}

#menu1 nav a:hover{
    color: #FF9000;

    font-size: 19.5px;
    text-shadow: 2px 2px 4px #FF9000;
}

#menu1 li a{
    vertical-align: middle;
    display: inline-block;
    position: relative;
}

#link{
    padding-top: 26px;
    text-align: center;
    position: relative;
}

#pict{
    padding-top: 3px;
    height: 77px;
    width: auto;
}


/* CSS page 2 */

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: solid 1.5px;
    border-color: #FF9000;
}


#menu2 nav ul{
    list-style: none;
}

#menu2 nav li{
    float: left;
    width: 33%;
    text-align: center;
}

#menu2 nav ul::after{
    content: "";
    display: table;
    clear: both;
}

#menu2 nav{
    background-color: black;
    width: 100%;
    height: 75px;
    margin: 0 auto;


}

#menu2 nav a{
    display: block;
    text-decoration: none;
    color: white;
    vertical-align: center;

}

#menu2 nav a:hover{
    color: #FF9000;
    transition-delay: 0.25s;
    font-size: 19.5px;
    text-shadow: 2px 2px 4px #FF9000;
}

#menu2 li a{
    vertical-align: middle;
    display: inline-block;
}

#link2{
    padding-top: 23px;
}