.scroller {
    padding: 1% 5% 5% 5%;
    height: 620px;
    overflow-y: scroll;
    scrollbar-color: orange grey;
    scrollbar-width: thin;
    text-align: justify;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
*{
    color:white;
}