.scroller {
    padding: 1% 5% 5% 5%;
    height: 620px;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
    text-align: justify;
}

.container {
    color: white;
    width: 90%;
    margin: auto;
}

h1{
    text-align: center;
}
h2{
    text-align: center;
}
  
