a {
    text-decoration: none;
    color: white;
}
p {
    color : white;
}




/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {

    color: white;

    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 150px;
    right: 120px;
    width: 60px;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 150px;
    right: 90px;
    border: 3px solid #FF9000;
    z-index: 9;
    box-shadow: 0 5px 50px rgba(0,0,0,1);

}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 20px;
    background-color: #212121;
    margin: 0 px;
    width: 100%;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Full-width textarea */
.form-container textarea {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;

}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
    background-color: #ddd;
    outline: none;
}


/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}
