/*MAIN DIV*/



#container .col1{
  margin: auto;
  width: auto;
  height:500px;
  position: absolute;
  top: 0;
  right: 0;
  bottom:0;
  left: 0;

}



/*buttons*/
/*DEFINIT LA BALISE A,LI*/
.col1 li{
  text-decoration: none;
  text-align: center;
  list-style-type: none;
  font-size: 18px;
  margin-top: 50px;
}
.col1 a{
  color: white;
  text-decoration: none;
  font-weight:bold;
  background-color: #FF9000;
  padding: 15px;
  border-radius: 2em;
}
.col1 a:hover{
  padding: 18px;
  font-size: 20px;
  box-shadow: 4px 4px 6px black;
}
#button3{
  background-color: inherit ;
  border: 2px solid #FF9000;
}

/* Media Queries */

@media all and (max-width: 600px){
  

}
