a
{
    text-align: center;
    display: block;
}

img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}

h1, h3
{
    text-align: center;
    color: black;
}

form {
    /* Uniquement centrer le formulaire sur la page */
    margin: 0 auto;
    width: 500px;
    /* Encadré pour voir les limites du formulaire */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

label {
    /* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées */
    display: inline-block;
    width: 175px;
    text-align: left;
}

input {
    /* Pour s'assurer que tous les champs texte ont la même police.
       Par défaut, les textarea ont une police monospace */
    font: 1em sans-serif;

    /* Pour que tous les champs texte aient la même dimension */
    width: 300px;
    box-sizing: border-box;

    /* Pour harmoniser le look & feel des bordures des champs texte */
    border: 1px solid #999;
}

form div + div {
    margin-top: 1em;
}