#LogoPNG
{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 150px;
}

h1, h3
{
    text-align: center;
}

h1, h2, h3
{
    color: white;
}

h1{
	padding: 25px;
}



label {
    /* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées */
    display: inline-block;
    width: 175px;
    text-align: left;
    color: white;
}

input {
    /* Pour s'assurer que tous les champs texte ont la même police.
       Par défaut, les textarea ont une police monospace */
    font: 1em sans-serif;


    /* Pour que tous les champs texte aient la même dimension */
    width: 300px;
    box-sizing: border-box;

    /* Pour harmoniser le look & feel des bordures des champs texte */
    border: 1px solid #999;
}

form div + div {
    margin-top: 1em;
}

/* CSS commun */

*{
    margin: 0;
    padding: 0;
    font-family: Avenir, sans-serif;
}
#menu1,#menu2{
    font-size: 19px;
}

html, body {
    height: 100%;
}

body{
    background: #212121;
}


footer {
    height: 10%;
}

header {
    height: 10%;
}


/* Global Container Div */

.container {
    text-align: center;
    height: 80%;
    width: 100%;
    overflow-y: scroll;
}

/* CSS page 1 */
header{
    background-color: black;
    border-bottom: solid 1.5px;
    border-color: #FF9000;
}

#menu1 nav ul{
    list-style: none;
    height: 100%;
}

#menu1 nav li{
    float: right;
    width: 25%;
    text-align: center;
}

#menu1 nav ul::after{
    content: "";
    display: table;
    clear: both;
}

#menu1 nav{
    background-color: black;
    width: 100%;
    height: 100%;
    margin: 0;
    position: sticky;
    top: 0px;
}

#menu1 nav a{
    display: inline-block;
    text-decoration: none;
    color: white;
    vertical-align: middle;
}

#menu1 nav a:hover{
    color: #FF9000;

    font-size: 19.5px;
    text-shadow: 2px 2px 4px #FF9000;
}

#menu1 li a{
    vertical-align: middle;
    display: inline-block;
    position: relative;
}

#link{
    padding-top: 26px;
    text-align: center;
    position: relative;
    vertical-align: middle;
}

#pict{
    padding-top: 3px;
    height: 77px;
    width: auto;
}


/* CSS page 2 */

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: solid 1.5px;
    border-color: #FF9000;
}


#menu2 nav ul{
    list-style: none;
}

#menu2 nav li{
    float: left;
    width: 33%;
    text-align: center;
}

#menu2 nav ul::after{
    content: "";
    display: table;
    clear: both;
}

#menu2 nav{
    background-color: black;
    width: 100%;
    height: 100%;
    margin: 0 auto;


}

#menu2 nav a{
    display: block;
    text-decoration: none;
    color: white;
    vertical-align: center;

}

#menu2 nav a:hover{
    color: #FF9000;
    font-size: 19.5px;
    text-shadow: 2px 2px 4px #FF9000;
}

#menu2 li a{
    vertical-align: middle;
    display: inline-block;
}

#link2{
    padding-top: 23px;
}

#selectResult {
    text-align: center;
    height: 200px;
}

/* Buttons */

a.button {
    text-align: center;
    display: block;
    background-color: dimgrey;
    justify-content: center;
    width: 50%;
    height: 25px;
    padding: 3px;
    padding-top: 9px;
    margin-top: 5px;
    text-decoration: none;
    color: black;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid orange;
    font-weight: bolder; 
}

a.button:visited {
    color: black;
}

a.button:hover {
    background-color: #FF9000;
    border: 2px solid black;
    box-shadow: 4px 4px 6px black;
}

/* Tables */

thead tr {
	background-color: black;
}

th,td {
	padding: 15px 20px;
}

tbody tr, td, th{
	border: 1.9px solid black;
}

td{
	color: white;
}

.table-container { 
    width: 100%;
    height: 80%;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;  
}

.table {
    border-collapse: collapse;
	min-width: 400px;
	width: 80%;
	box-shadow: 0 5px 50px rgba(0,0,0,1);
	cursor: pointer;
	padding: 15px 75px auto;
    border: 2px solid #FF9000;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    overflow: hidden;
}
