#LogoPNG
{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 150px;
}

h1, h3
{
    text-align: center;
}

h1, h2, h3
{
    color: white;
}



form {
    /* Uniquement centrer le formulaire sur la page */
    margin: 0 auto;
    width: 500px;
    /* Encadré pour voir les limites du formulaire */
    padding: 1em;
    border: 1px solid #ff9000;
    border-radius: 1em;

}

label {
    /* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées */
    display: inline-block;
    width: 175px;
    text-align: left;
    color: white;
}

input {
    /* Pour s'assurer que tous les champs texte ont la même police.
       Par défaut, les textarea ont une police monospace */
    font: 1em sans-serif;


    /* Pour que tous les champs texte aient la même dimension */
    width: 300px;
    box-sizing: border-box;

    /* Pour harmoniser le look & feel des bordures des champs texte */
    border: 1px solid #999;
}

form div + div {
    margin-top: 1em;
}

/* CSS commun */

*{
    margin: 0;
    padding: 0;
    font-family: Avenir, sans-serif;
}
#menu1,#menu2{
    font-size: 19px;
}

html {
    height: 100%;
}

body{
    background: #212121;
    height: 80%;
}


/* CSS page 1 */
header{
    background-color: black;
    border-bottom: solid 1.5px;
    border-color: #FF9000;
}

#menu1 nav ul{
    list-style: none;
}

#menu1 nav li{
    float: right;
    width: 25%;
    text-align: center;
}

#menu1 nav ul::after{
    content: "";
    display: table;
    clear: both;
}

#menu1 nav{
    background-color: black;
    width: 100%;
    margin: 0;
    position: sticky;
    top: 0px;

}

#menu1 nav a{
    display: block;
    text-decoration: none;
    color: white;
    vertical-align: center;

}

#menu1 nav a:hover{
    color: #FF9000;

    font-size: 19.5px;
    text-shadow: 2px 2px 4px #FF9000;
}

#menu1 li a{
    vertical-align: middle;
    display: inline-block;
    position: relative;
}

#link{
    padding-top: 26px;
    text-align: center;
    position: relative;
}

#pict{
    padding-top: 3px;
    height: 77px;
    width: auto;
}


/* CSS page 2 */

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: solid 1.5px;
    border-color: #FF9000;
}


#menu2 nav ul{
    list-style: none;
}

#menu2 nav li{
    float: left;
    width: 33%;
    text-align: center;
}

#menu2 nav ul::after{
    content: "";
    display: table;
    clear: both;
}

#menu2 nav{
    background-color: black;
    width: 100%;
    height: 75px;
    margin: 0 auto;


}

#menu2 nav a{
    display: block;
    text-decoration: none;
    color: white;
    vertical-align: center;

}

#menu2 nav a:hover{
    color: #FF9000;
    font-size: 19.5px;
    text-shadow: 2px 2px 4px #FF9000;
}

#menu2 li a{
    vertical-align: middle;
    display: inline-block;
}

#link2{
    padding-top: 23px;
}

#selectResult {
    text-align: center;
    height: 200px;
}