.bienvenue{
    margin-top: 10px;
}

.container{
    height: 80%;
    margin-top: 5%;
    margin-left: 10%;
    font-size: 20px;

}

.informations{
    border: 2px dashed #FF9000;
    border-radius: 5px;
    width:20%;
    padding: 20px;
    display: block;
    float: left;
    box-shadow: 8px 8px 15px black;
    font-size: 20px;
}

.head {
    margin: 2px 2px 15px 2px;
    overflow: hidden;
}

.head img {
    height: 100px;
    display: block;
    margin-right: 4px;
    border:1.5px solid #FF9000;
    box-shadow: 8px 8px 12px black;
    float:left;
}
.name{
    display: block;
    font-size: 150%;
    margin: 0px 5px 5px 5px;
    float: left;
}
.description{
    color:white;
    line-height: 2em;
}
span{
    color: #FF9000;
    margin-left: 10px;
}

.col2{
    display: inline-block;
    margin: 0px 10% 0px 5%;
    height: 80%;
    width: 55%;
}
.explication{
    padding: 20px;
    color: white;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10%;
}

.deconnexion{
    text-align: center;
    padding-top: 10%;
}
a{
  color: white;
}

.formulaire form{
  /* Uniquement centrer le formulaire sur la page */
  /* margin: 0 auto; */
  width: 600px;
  /* Encadré pour voir les limites du formulaire */
  padding: 1em;
  border: 1px solid #ff9000;
  border-radius: 1em;
}

.formulaire label{
    width: 250px;
}



#submit{
    margin-right: 40%;
    margin-left: 40%;

    margin-top: 5px;
    padding: 5px;
    width:auto;
}
