
#bas{
  height:40px;
  padding-top:10px;
}
input#submit,#close{
  background-color: #FF9000;
  border-radius: 5px;
  border: 2px solid black;


}
#submit{
  display: block;
  float: left;
  width: auto;
  padding: 3px;
  margin-left: 30%;
}
#close{
  width: auto;
  float: left;
  display: block;
  padding:3px;
}
#container{
    height: 80%;
    margin-left: 10%;
    font-size: 20px;


}
.bienvenue{
  padding-top: 2%;
}
.informations{
    border: 2px dashed #FF9000;
    border-radius: 5px;
    width:20%;
    padding: 20px;
    display: block;
    float: left;
    box-shadow: 8px 8px 15px black;
    font-size: 20px;
}

.tete {
    margin: 2px 2px 15px 2px;
    overflow: hidden;
}

.tete img {
    height: 100px;
    display: block;
    margin-right: 4px;
    border:1.5px solid #FF9000;
    box-shadow: 8px 8px 12px black;
    float:left;
}
.name{
    display: block;
    font-size: 150%;
    margin: 0px 5px 5px 5px;
    float: left;
}
.description{
    color:white;
    line-height: 2em;
}
span{
    color: #FF9000;
    margin-left: 10px;
}

.col2{
    display: inline-block;
    margin: 0px 10% 0px 10%;
    height: 80%;
    width: 55%;
}
.explication{
    padding: 20px;
    color: white;
    font-size: 20px;
    text-align: center;
    margin-bottom: 5%;
}
#faireModif{
  margin-top: 3px;
  font-style: italic;
}
.deconnexion{
    text-align: center;
    padding-top: 10%;
}
a{
  color: white;
}
#formulaire{

  margin-bottom: 10px;
}
#formulaire form{
  margin: auto;
  width: 600px;
  padding: 1em;
  border: 1px solid #ff9000;
  border-radius: 1em;
}

#formulaire label{
    width: 280px;
}



/* #submit{
    margin-right: 40%;
    margin-left: 40%;

    margin-top: 5px;
    padding: 5px;
    width:auto;
} */

.tableau{
    border-collapse: collapse;
    color: white;
    min-width: 400px;
    margin: auto;
    box-shadow: 0 5px 50px rgba(0,0,0,1);
    cursor: pointer;
    border: 2px solid #FF9000;

}

.alert{
    width: 40px;
}
thead tr {
    background-color: black;
}

th,td {
    padding: 15px 20px;
    text-align: center;
    border: 2px solid #FF9000;
}

@media screen and (max-width: 1000px) {
  .container {
  }
  .head img{
    height: 70px;
  }
  .head .name{
    float:none;
    margin: auto;
  }
  .informations{
    width: 80%;
    margin:auto;
    height: 40%;
    float: none;
    padding-left: 10%;
  }
  .description{
    font-size: 2vw;
  }
  .part1{
    float:left;
    display: inline-block;
  }
  .part2{
    margin-left: 10%;
    float:left;
    display: inline-block;
  }
  .col2{
    width:90%;
    float: none;
    height: auto;
  }
  .explication{
    margin: auto;
    font-size: 2.5vw;
  }
  #formulaire form{
    width: 80%;
  }
  #formulaire label{
    text-align: center;
    font-size: 2vw;
  }
  .deconnexion{
    margin:0;
    padding: 0;
  }
}
@media screen and (max-width: 600px) {
  .informations{
    height:30%;
  }
}
