<!DOCTYPE hmtl>
<html lang="fr">
<head>
    <title>Template Client avec page Recherche</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="styleRform.css"> 
<!--code javascript pour que les boutons 'Rechercher' et 'Effacer' s'allument quand la souris passe dessus-->
<!--la fonction 'change?()' sert à changer la couleur quand la souris passe dessus-->
<!--la fonction 'revenir?()' sert à faire revenir la couleur de départ quand la souris s'en va-->
<!--il y  a donc deux fonction pour chaque bouton-->
<!--
 <script type="text/javascript"> 
function changeSearch() {
		document.getElementById("search").style.background="#FF9000"; }
		
function revenirSearch() {
 document.getElementById("search").style.background="#E5E7E9"; }
 
 function changeDEL() {
		document.getElementById("DEL").style.background="#FF9000"; }

function revenirDEL(){
 document.getElementById("DEL").style.background= "#E5E7E9"; }
</script>
-->
 <!--Fin du code javascript-->
</head>
<body>
     <header id="menu1">
        <nav>
           <ul>
             <li><a href="#"><img src="logo.png" id="pict"/></a></li>
             <li id="link"><a id="b1" href="#">Mon compte</a></li>
             <li id="link"><a id="b2" href="#">Notifications</a></li>
             <li id="link"><a id="b3" href="#">Forum</a></li>
           </ul>
        </nav>
    </header>




<!--Pour les boutons 'Rechercher' et 'Effacer', ont été faits une version en css et un code en javascript. Les deux ont été testés et fonctionnent-->
<form method="get" action="ControllerRecherche.php">
    <fieldset>
    <legend>Veuillez remplir les champs souhaités <em>(au moins 1 champ)</em>:</legend>
    <pre><table>
      <tr><td align="left">Identifiant :</td><td align="center"><input type="text" name="identifiant" id="identifiant" ></input></td></tr>
      <tr><td align="left">Nom :</td><td align="center"><input type="text" name="nom" id="nom"></input></td></tr>
      <tr><td align="left">Prénom :</td><td align="center"><input type="text" name ="prénom" id="prénom"/></td></tr>
	  <tr><td align="left">Naissance :</td><td align="center">&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="âge" id="date"/></td></tr>
      <tr><td align="left">Mail :</td><td align="center">&nbsp;&nbsp;&nbsp;&nbsp;<input type="mail" name="âge" id="date"/></td></tr>
      <tr><td align="left">Grade :</td><td align="center">&nbsp;&nbsp;&nbsp;&nbsp;<input type="search" name="grade" id="grade"></td></tr>
      <tr><td align="left">Caserne :</td><td align="center">&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caserne" id="caserne"/></td></tr>
      <tr><td align="left">Nationalité :</td><td align="center">&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="nationalité" id="nationalité"/></td></tr>
      <tr><td align="left">Corps militaire :</td><td align="center"><input type="text" name="corps militaire" id="corps"/></td></tr>
      <tr><td align="left">Statut :</td><td align="center"><input type="text" name="statut" id="statut"/></td></tr>
      <tr><td align="left">Matricule :</td><td align="center">&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="matricule" id="matricule"/></td></tr>
      <tr><td align="left">Login :</td><td align="center">&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="login" id="login"></input></td></tr></table>
      <!--<div class="boutons"><input type="button" value="Rechercher" id="search"  onmouseout="revenirSearch()" onmouseover="changeSearch()"/>&nbsp;&nbsp;&nbsp;&nbsp;<input type="reset" value="Effacer" id="DEL" onmouseout="revenirDEL()" onmouseover="changeDEL()"/></div>
      -->
      <button type="button">Rechercher</button>&nbsp;&nbsp;&nbsp;<button type="reset">Effacer</button>
    </pre>
    </fieldset>
	
	
	
	
	<footer id="menu2">
		<nav>
			<ul>
				<li id="link2"><a href="#">FAQ</a></li>
				<li id="link2"><a href="#">CGU</a></li>
				<li id="link2"><a href="#">Contact</a></li>
			</ul>
		</nav>
	</footer>
</body>
</html>